.header-name {
  color: #fff;
  font-size: 50px;
  text-shadow: 0px 0px 5px #000000;
}


.welcome-deck {
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  top: 44%;
  right: -6.2%;
  font-size: 36px;
  color: white;
  background-color: rgba(52,64,82,.5);
  padding: 5%;
}

.welcome-image {
  margin-top: 5%;
}


.deck-title-container {
  margin-top: 0px;
  margin-bottom: 1px;
  padding-right: 10px;
  height: 56px;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  font-size: 18px;
  font-family: Times;
  text-align: left;
  width: 28%;
  background-color: #f5f5f5;
  border: 1px solid #dddddd;
  border-radius: 3px;
}


.deck-outer {
  width: 29%;
  height: 80vh;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color:white;
}

.deck-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: bolder;
  margin-bottom: 4px;
  margin-right: 28%;
}

.modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0, 0.44);
  z-index: 2000;
}

.add-deck-form {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 29.2%;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 15px;
  background: #f5f5f5;
  font-size: 18px;
  font-weight: bolder;
  opacity: 1;
  z-index: 5000;
  border: 2px solid lightblue;
  font-family: 'Montserrat', sans-serif;
}

.add-deck-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: bolder;
  margin-bottom: 4px;
  margin-right: 28%;
}

.form-input {
  border: 1px solid #cccccc;
  padding: 6px 12px;
  font-size: 18px;
  border-radius: 4px;
  padding-top: 8px;
}

.form-buttons {
  display: flex;
  align-items: center;
  padding-top: 8px;
}

.cancel-button {
  border: 1px solid transparent;
  padding: 5px 10px;
  font-size: 18px;
  line-height: 1.5;
  border-radius: 3px;
  background: #acacac;
}

.save-button {
  color: white;
  border: 1px solid transparent;
  margin: 7px;
  padding: 5px 10px;
  font-size: 18px;
  line-height: 1.5;
  border-radius: 3px;
  background: #29a5dc;
}

.deck-list {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: white;
}

.deck-name {
  position: absolute;
  top: 25px;
  font-size: 38px;
  padding: 50px;
  font-family: 'Montserrat', sans-serif;
  color: #ff8a47;
  padding: 20px;
  margin-bottom: 40px;
  left: 10px;
}

.dropdown {
  position: absolute;
  left: 684px;
  top: 20px;
}

.settings-icon {
  color: white;
  background-color: #5bc0de;
  width: 40px;
  height: 40px;
  text-align: center;
  position: relative;
  border-radius: 0px 7px 7px 0px;
  color: white;
  border-color: #46b8da;
}

.delete-button {
  position: relative;
  right: -40px;
  top: -15px;
  border: 1px solid gray;
  padding: 3px 30px;
  box-shadow: -1px 1px #dddddd;
  font-family: inherit;
  border-color: #dddddd;
}

.background-img-container {
  text-align: center;

}

.deck-list {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: white;
}


.in-line {
  padding-left: 10px;
  bottom: 12px;
}

.deck-list-item {
  display: flex;
  align-items: center;
  padding: 20px 15px 5px;
  margin-top: 0px;
  margin-right: 8px;
  margin-left: 4px;
  border-right: #e8e8e8 solid 4px;
  border: 1px solid #dddddd;
  background-color: #f5f5f5;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: #29a5dc;
  border-radius: 3px;
  width: 100%;
  border-style: dotted;
  padding-top: 10px;
  padding-bottom: 10px;
}

.sidebar-title {
  margin-left: 10px;
  font-size: 20px;
}

.add-deck-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: bolder;
  margin-bottom: 4px;
  margin-right: 28%;
}



 /* */

